/* common style css here */
*{
    margin: 0;
    padding: 0;
    font-family: lato;          
}

/* this is banner section style here */
.banner-container{
    background-color:rgba(229, 84, 115, 0.10);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-text{
    color:#272727;
    font-size: 80px;
    font-weight: 800;
}

.text-design{
    color: #E55473;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}

.banner-btn{
    background-color: #E55473;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    transition: all 0.3s;
}

.banner-btn:hover{
    background-color: #fff;
    color: #E55473
}

/* this is hot deal section here */
.hot-deal-container{
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 300px;
    margin-top: 100px;
    padding: 150px;
}

.hot-deal-text{
    color: #272727;
    font-size:40px;
    font-weight: 800;
}

.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

.hot-deal-btn{
    background-color: #E55473;
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;
    transition: all 0.3s;
}

.hot-deal-btn:hover{
    background-color: #fff;
    color: #E55473
}

/* this is instagram section here */
.instagram-container{
    margin-top: 100px;
}

.instagram-text{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    text-align: center;
}

.instagram-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px ;
    margin-bottom: 120px;
}

/* this is subscribe section here */

.subscribe-container{
    background-image: url("../assets/Rectangle 9.png");
    border-radius: 8px;
    background-repeat: no-repeat;
    width: 100%;
    margin: auto;
    padding: 120px;
}

.subscribe-text{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.subscribe-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    text-align: center;
}

.text-name{
    width: 440px;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.subscribe{
    text-align: center;
    margin-top: 45px;
}

.subscribe-btn{
    background-color: #E55473;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    border: none;
}

/* this is footer section here */
.footer-container{
    background-color: #111010;
    color: #fff;
    text-align: center;
    padding: 130px;
    margin-top: 130px;
}

.footer-text{
    color: #fff;
    font-size: 48px;
    font-weight: 800;
}

.footer-description{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-info{
    color: rgba(255, 255, 255, 0.40);;
}